#friends-display-link{
    display: block;
    text-align: center;
    background-color: #fafafa;
    padding: 15px 0px;
    color: #2e363e;
    font-weight: 500;
    font-size: 17px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.2);
    margin-right: 2px;
}

#friends-display-link i:last-child{
    margin-left: 7px;
}