.find-icons{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.find-icons__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-icons__icon span {
    width: 100px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: -12px;
}

.recommended-friends {
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    padding: 16px 0;
}

.recommended-friends__title {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
}

.recommended-friends span {
    margin: 110px 0 100px 0;
    display: block;
    text-align: center;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
}

.open-chat__header span {
    color: rgba(0, 0, 0, 0.3);
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title {
    font-size: 20px;
    margin-bottom: 8px;
}

.open-post__hashtags {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.4);
}

.open-post__members {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.open-post__members img {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    margin-right: 5px;
}

.open-post__members-count {
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: 500;
}

.open-post__members .divider {
    width: 2px;
    height: 14px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 6px;
}

.open-post__members-status {
    color: #fd4eba;
}

.open-post__photo {
    position: relative;
}

.open-post__photo img {
    width: 105px;
    height: 105px;
    border-radius: 8px;
}

.open-post__heart-count {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px 10px 5px 10px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 12px;
    color: white;
    bottom: 10px;
    right: 7px;
}

.open-post__heart-count span {
    margin-left: 5px;
}

.open-post:last-child  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 12px;
    padding-top: 12px;
}

@keyframes heartBeat {
    0% {
        color: white;
        transform: none;
    }

    50% {
        color: tomato;
        transform: scale(1.5);
    }

    100% {
        color: white;
        transform: none;
    }
}

.open-post__heart-count:hover i {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}