.settings__setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23.5px 0 23.5px 10px;
    border-bottom: 1px solid rgba(227, 227, 227, 0.3);
    font-size: 22px;
}

.settings__setting-column {
    display: flex;
    align-items: center;
}

.settings__setting i {
    font-size: 24px;
    margin-right: 20px;
}

.settings__setting:nth-child(3) {
    border-bottom: none;
}

.settings__setting-column:last-child {
    font-size: 22px;
    opacity: 0.5;
}

.settings__divider {
    border: 1px solid rgba(227, 227, 227, 0.4);
    margin: 28px 0 25px 0;
}